body {
  background: linear-gradient(90deg, #1cb5e0 0%, #000851 100%);
  /* background-color: red; */
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#main {
  display: flex;
  justify-content: stretch;
}
